<ion-view title="Mostrar" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="mostrar-list1" class=" ">
            <ion-item id="mostrar-list-item4" class="  ">{{ item1 }}</ion-item>
            <ion-item id="mostrar-list-item5" class="  ">{{ item2 }}</ion-item>
            <ion-item id="mostrar-list-item6" class="  ">{{ item3 }}</ion-item>
            <ion-item id="mostrar-list-item7" class="  ">{{ item4 }}</ion-item>
            <ion-item id="mostrar-list-item8" class="  ">{{ item5 }}</ion-item>
            <ion-item id="mostrar-list-item9" class="  ">{{ item6 }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>