<ion-view title="List" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="list-card22">
            <ion-item class="item-avatar  " id="list-list-item6">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="list-list-item-container2">
                <p id="list-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <form id="list-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="list-toggle2" class=" ">Toggle</ion-toggle>
            <ion-radio id="list-radio2" class=" ">Radio</ion-radio>
            <label class="item item-input " id="list-input2">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>