<ion-view title="Buttons" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="list" id="buttons-button1" class=" button button-light  button-block ">List</a>
        <button id="buttons-button2" class=" button button-positive  button-block ">Tap me!</button>
        <a ui-sref="cards" id="buttons-button3" class=" button button-stable  button-block ">Cards</a>
        <button id="buttons-button4" class=" button button-positive  button-block ">Tap me!</button>
        <button id="buttons-button5" class=" button button-positive  button-block ">Tap me!</button>
        <button id="buttons-button6" class=" button button-positive  button-block ">Tap me!</button>
    </ion-content>
</ion-view>