<!DOCTYPE html>
<html ng-app="lab1c">
<head>
	<title>AngularJS First Application</title>
	<meta charset="utf-8" />
</head>
<body>
	<div ng-controller="lab1cController">
		<h1>Botones</h1>
		<img ng-model="model" ng-src="{{ model }}" >
		<button ng-click="change()" >
  		Cambiar
		</button>
		<button ng-click="change_init()" >
  		Restaurar
		</button>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/eje1c.js"></script>
</body>
</html>