<ion-view title="Toggle" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="toggle-form2" class="list ">
            <ion-checkbox>Checkbox</ion-checkbox>
            <div class="spacer" style="width: 300px; height: 62px;"></div>
            <ion-radio id="toggle-radio2" class=" ">Radio</ion-radio>
            <ion-radio id="toggle-radio3" class=" ">Radio</ion-radio>
            <ion-radio id="toggle-radio4" class=" ">Radio</ion-radio>
        </form>
    </ion-content>
</ion-view>