<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="list" id="home-button1" class=" button button-positive  button-block icon ion-android-arrow-forward ">Go to page 1</a>
        <a ui-sref="toggle" id="home-button2" class=" button button-positive  button-block icon ion-android-arrow-forward ">Go to page 2</a>
        <a ui-sref="forms" id="home-button3" class=" button button-positive  button-block icon ion-android-arrow-forward ">Go to page 3</a>
        <a ui-sref="dynamicList" id="home-button3" class=" button button-positive  button-block icon ion-android-arrow-forward ">Go to Dynamic List</a>
    </ion-content>
</ion-view>